<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <%- include("./partials/headGeneral") %> 
    
<!-- 
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
 -->

</head>

<body>
    <%- include("./partials/header") %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    
                    <% for( let i = 0; i < posts.length; i++ ) { %>
                    
                    
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div> <a href="http://localhost:3000/user/detalleUsuario/<%= posts[i].idUsuario %>">
                                <!-- relacion foto de perfil -->
                                <img src="<%= posts[i].postUsuario.fotoPerfil%>" alt="" class="foto-perfil-home"> </a>
                            </div>
                            <a href="http://localhost:3000/user/detalleUsuario/<%= posts[i].idUsuario %>"> <h4>
                                    <!-- relacion nombre de usuario -->

                                <%=posts[i].postUsuario.nombre %>
                            </h4></a>
                        </div>
                        <div  class="post-body uk-flex uk-flex-center">
                            <img src="<%= posts[i].urlimagen %>" alt="" class="foto-home">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a href="http://localhost:3000/user/detalleUsuario/<%= posts[i].idUsuario %>"> <h5> <%= posts[i].postUsuario.nombre %>: </h5> </a>
                                <p class="">  <%= posts[i].pieDeFoto %> </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <%if (posts[i].comentario.length == 0) {%>
                                    <li><p>No hay comentarios :(</p></li>
                                </ul>
                                <a href="http://localhost:3000/post/detallePost/<%= posts[i].idposts %>">Hace el primer comentario</a>
                                <%}else{%>
                                <% for( let index = 0; index < 3; index++ ) { %>
                                    <li>
                                        <a href="http://localhost:3000/user/detalleUsuario/<%= posts[i].comentario[index].idusuario %>">Comentario usuario <%= posts[i].comentario[index].comentarioUsuario %>:</a>
                                            <p> <%= posts[i].comentario[index].comentario %></p>
                                        
                                    </li>
                                </ul>
                                <a href="http://localhost:3000/post/detallePost/<%= posts[i].idposts %>">Ver los <%=posts[i].comentario.length %> comentarios</a>
                                <% }} %>
                            
                        </div>
                    </article>
                    <% } %>
                </section>
            </div>
        </div>
    </main>
</body>
<footer>
    <%- include('./partials/footer') %>
</footer>
</html>