<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <%- include("./partials/headGeneral") %> 
    
<!-- 
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
 -->

</head>

<body>
    <%- //if usuarioLogueado%>
    <%- //include("./partials/headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <%- include("./partials/headerDeslogueado")%>  

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    
                    <% for( let i = 0; i < posts.length; i++ ) { %>
                    idUsuario
                    
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div> <a href="http://localhost:3000/home/detalleUsuario/<%= posts[i].idUsuario %>">
                                <img src="<%= posts[i].urlimagen %>" alt="" class="foto-perfil-home"> </a>
                            </div>
                            <a href="http://localhost:3000/home/detalleUsuario/<%= posts[i].idUsuario %>"> <h4 >Usuario: <%= posts[i].idUsuario %></h4> </a>
                        </div>
                        <div  class="post-body uk-flex uk-flex-center">
                            <img src="<%= posts[i].urlimagen %>" alt="" class="foto-home">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a href="http://localhost:3000/home/detalleUsuario/<%= posts[i].idUsuario %>"> <h5> Usuario: <%= posts[i].idUsuario %></h5> </a>
                                <p class="uk-width-5-6"><%= posts[i].pieDeFoto %> </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <% for( let i = 0; i < 1; i++ ) { %>
                                    <li>
                                        <a href="http://localhost:3000/home/detalleUsuario/1">Usuario:</a>
                                        <p>Comentario</p>
                                    </li>
                                <% } %>
                                <a href="http://localhost:3000/home/detallePost/<%= posts[i].idposts %>">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <% } %>        
                </section>
            </div>
        </div>
    </main>  
</body>
<footer>
    <%- include('./partials/footer') %> 
</footer>
</html>